<%= link_to root_path, :class => 'navbar-brand', :data => { :push => true } do %>
  <span class="logo"></span>
  timer.helpdeskapp.ru
<% end %>

<%= yield(:header) %>

<% if user_signed_in? %>
  <ul class="nav navbar-nav navbar-right navbar-profile">
    <li class="dropdown profile-dropdown">
      <%= link_to '#', :class => 'dropdown-toggle', :data => { :toggle => :dropdown } do %>
        <%= image_tag current_user.gravatar_url, :class => 'img-avatar img-circle' %>
      <% end %>
      <ul class="dropdown-menu">
        <li><%= link_to 'Редактировать профиль', edit_user_registration_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Выход', destroy_user_session_path, :method => :delete %></li>
      </ul>
    </li>
  </ul>

  <div class="btn-group timer-group navbar-right" role="group">
    <%= link_to 'Таймер', new_timer_path, :class => 'btn btn-green', :data => { :push => true } %>
    <%= link_to 'Время', timers_manual_path, :class => 'btn btn-green', :data => { :push => true } %>
  </div>
<% else %>
<% end %>
